@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

:root {
  --bg-main: #131722;
  --light-bg: #24baef;
  --main-color: #fff;
  --border-color: #a8a8a83d;
  --second-font-color: #949cb0;
}

body {
  font-family: 'Montserrat Alternates', sans-serif !important;
  background-color: var(--bg-main);
  color: var(--main-color);
}


.brdr {
  height: 1px;
  background-color: var(--border-color);
}

li i {
  cursor: pointer;
}


a , a:hover
{
  color: #fff;
  text-decoration: none;
}


ul li  {
  cursor: pointer;
}